# Archivos de compilación y depuración
**/bin/
**/obj/
**/Debug/
**/Release/

# Archivos específicos de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.vs/
.vs/
**/.vs/

# Archivos de caché
*.cache
*.AssemblyReference.cache
*.csproj.AssemblyReference.cache

# Archivos de pruebas
**/TestResults/
**/TestResults/**
*.trx
*.coverage
*.coveragexml

# Archivos de paquetes
**/packages/
packages/
**/packages/*

# Archivos de publicación
*.pubxml
*.publishproj

# Archivos de respaldo
*~
*.bak
*.tmp

# Archivos de usuario
*.userprefs
*.vsmdi
*.testsettings

# Archivos generados por ReSharper
_ReSharper*/
*.DotSettings.user

# Archivos de Azure Functions
local.settings.json